@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden !important;
}
/* navbar */
nav {
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    background-color: black;
    color: rgb(212, 212, 53);
}
nav .logo {
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
    font-size: 20px;
}
nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
nav ul li a {
    text-decoration: 0;
    color: rgb(189, 189, 189);
    font-size: 0.8em;
}
nav ul li .active {
    color: white;
}
nav ul li a:hover {
    color: rgb(255, 255, 255);
}

/* Marquee */
marquee {
    background-color: #00c2cb;

}
h3 {
    color: rgb(255, 255, 255);
    padding: 5px;
    font-size: 30px;
}

/* center */

center {
    background-color: black;
    margin: 40px;
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px 16px rgba(40,102,153,0.75);
    -webkit-box-shadow: 0px 0px 20px 16px rgba(40,102,153,0.75);
    -moz-box-shadow: 0px 0px 20px 16px rgba(40,102,153,0.75);
}
h1 {
    font-family: 'Pacifico', cursive;
    color: rgb(212, 212, 53);
    padding: 40px;
    letter-spacing: 2px;
}
img {
    width: 50%;
    height: 50%;
    padding-top: 40px;
}
div ul li {
    list-style: none;
}
.ig a{
    background-color: #8607fe;
    padding: 20px 30vh;
    font-size: 20px;
    border-radius: 20px;
    text-decoration: 0;
    color: white;
    margin: 20px;
    display: block;
}
.ig a:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}
.wa a{
    background-color: #8607fe;
    padding: 20px 30vh;
    font-size: 20px;
    border-radius: 20px;
    text-decoration: 0;
    color: white;
    margin: 20px;
    display: block;
}
.wa i {
    color: rgb(1, 196, 27);
}

.wa a:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}
.yt a{
    background-color: #8607fe;
    padding: 20px 30vh;
    font-size: 20px;
    border-radius: 20px;
    text-decoration: 0;
    color: white;
    margin: 20px;
    display: block;
}
.yt i {
    color: red;
}
.yt a:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}

/* hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
} 
.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    top: -4px;
    cursor: pointer;
    z-index: 2;
}
.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(189, 189, 189);
    border-radius: 3px;
    transition: all 0.5s;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px)
}
.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg)  translate(-1px, 0)
}
.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}



/* Responsive Ukuran tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
    center {
        position: absolute;
        z-index: -2;
    }
    .ig a{
        background-color: #8607fe;
        padding: 20px 10vh;
        font-size: 20px;
        border-radius: 20px;
        text-decoration: 0;
        color: white;
        margin: 20px;
        display: block;
    }
    
    .ig a:hover {
        color: black;
        background-color: rgb(250, 250, 250);
    }

    .wa a{
        background-color: #8607fe;
        padding: 20px 10vh;
        font-size: 20px;
        border-radius: 20px;
        text-decoration: 0;
        color: white;
        margin: 20px;
        display: block;
    }
    .wa i {
        color: rgb(1, 196, 27);
    }
    .wa a:hover {
        color: black;
        background-color: rgb(255, 255, 255);
    }
    .yt a{
        background-color: #8607fe;
        padding: 20px 10vh;
        font-size: 20px;
        border-radius: 20px;
        text-decoration: 0;
        color: white;
        margin: 20px;
        display: block;
    }
    .yt i {
        color: red;
    }
    .yt a:hover {
        color: black;
        background-color: rgb(255, 255, 255);
    }
    .container {
        max-width: 90%;
        position: absolute;
        z-index: -2;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        flex-direction: column;
        height: 100%;
        top: 0;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        background-color: black;
        width: 70%;
        transform: translateY(-100%);
        transition: all 1s;
    }
    h1 {
        font-size: 30px;
    }
    nav ul.slide {
        transform: translateY(0);
        position: fixed;
    }
    center {
        margin-top: 70px;
    }
    .ig a{
        background-color: #8607fe;
        padding: 20px 10vh;
        font-size: 20px;
        border-radius: 20px;
        text-decoration: 0;
        color: white;
        margin: 20px;
        display: block;
    }
    .ig a:hover {
        color: black;
        background-color: rgb(255, 255, 255);
    }
    .wa a{
        background-color: #8607fe;
        padding: 20px 5px;
        font-size: 20px;
        border-radius: 20px;
        text-decoration: 0;
        color: white;
        margin: 20px;
        display: block;
    }
    .wa i {
        color: rgb(1, 196, 27);
    }
    .wa a:hover {
        color: black;
        background-color: rgb(255, 255, 255);
    }
    .yt a{
        background-color: #8607fe;
        padding: 20px 10vh;
        font-size: 20px;
        border-radius: 20px;
        text-decoration: 0;
        color: white;
        margin: 20px;
        display: block;
    }
    .yt i {
        color: red;
    }
    .yt a:hover {
        color: black;
        background-color: rgb(255, 255, 255);
    }
    marquee {
        position: absolute;
        z-index: -2;
    }
}
